<div class="inside card">
  <h1>
    <%= @adventure.name %>
  </h1>

  <%# responses %>
  <% unless @adventure.positive_responses.empty? %>
    <ul class="unstyled inline">
      <% @adventure.positive_responses.each do |response| %>
        <li>
          <%= image_tag response.user.image_by_dimension, :class => "img-circle" %> <%= response.user.name %> <span class="muted"><%= response.hearts_count %>x</span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%# description %>
  <% if @adventure.description.blank? %>
      <% if can? :edit, @adventure %>
        <%= link_to edit_adventure_path(@adventure) do %>
          <i class="icon-edit"></i> Add description
        <% end %>
      <% end %>
  <% else %>
    <strong><i class="icon-align-left"></i> Description:</strong>
    <%= auto_link(simple_format(@adventure.description), :html => { :target => "_blank" }) %>
  <% end %>

  <%# share link %>
  <% if can? :share, @adventure %>
    <p>
      <strong><i class="icon-share"></i> Share:</strong>
      <%= link_to share_adventure_url(:muddle => @adventure.muddle, :token => @adventure.token), share_adventure_url(:muddle => @adventure.muddle, :token => @adventure.token) %>
      <span class="text-warning">Anyone with this link can view this adventure.</span>
    </p>
  <% end %>

  <!-- Explain: -->
    <!--  Once you get the link, you can send it by email, Facebook, Twitter, instant message, social networks, wherever you want. These links can be accessed by anyone, even without a Dropbox account. Learn how to get links from this Help Center article. -->

  <ul class="nav nav-pills">
    <% unless user_signed_in? %>
      <li>
        <%= link_to signin_path, :class => "btn btn-primary", :method => :post do %>
          <i class="icon-heart icon-white"></i> Login to heart this
        <% end %>
      </li>
    <% end %>
    <%# if can? :heart, @adventure %>
      <li>
        <%= link_to heart_adventure_path(@adventure), :class => "btn", :method => :post do %>
          <i class="icon-heart"></i> Heart
        <% end %>
      </li>
    <%# end %>
    <% if can? :edit, @adventure %>
      <li>
        <%= link_to edit_adventure_path(@adventure) do %>
          <i class="icon-edit"></i> Edit
        <% end %>
      </li>
    <% end %>
  </ul>
</div>