<%= form_for(@moment) do |f| %>
  <% if @moment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moment.errors.count, "error") %> prohibited this moment from being saved:</h2>

      <ul>
      <% @moment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "I want too..." %>
    <%= f.text_field :name, :placeholder => "Type what you want to do." %>
  </div>
  <div class="field">
    <%= f.label :description, "The plan" %>
    <%= f.text_area :description, :rows => "8", :placeholder => "Step 1.  We steal the crown jewels..." %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
