<%= form_for(@moment) do |f| %>
  <% if @moment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moment.errors.count, "error") %> prohibited this moment from being saved:</h2>

      <ul>
      <% @moment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :trash %><br />
    <%= f.check_box :trash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
