<%= form_for(@moment) do |f| %>
  <%# errors %>
  <% if @moment.errors.any? %>
    <% @moment.errors.full_messages.each do |message| %>
      <p class="text-error"><%= message %></p>
    <% end %>
  <% end %>

  <%# inputs %>
  <div class="field">
    <%= f.label :name, "I want too..." %>
    <%= f.text_field :name, :placeholder => "Type what you want to do.", :autofocus => "autofocus" %>
  </div>
  <div class="field">
    <%= f.label :description, "The plan" %>
    <%= f.text_area :description, :rows => "8", :placeholder => "Step 1.  We steal the crown jewels..." %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
