<h1>Listing moments</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Hash</th>
    <th>Name</th>
    <th>Description</th>
    <th>Author</th>
    <th>Trash</th>
    <th></th> <!-- show -->
    <th></th> <!-- edit -->
    <th></th> <!-- destroy -->
  </tr>

<% @moments.each do |moment| %>
  <tr>
    <td><%= moment.id %></td>
    <td><%= moment.muddle %></td>
    <td><%= moment.name %></td>
    <td><%= moment.description %></td>
    <td><%= link_to moment.author.name, moment.author %></td>
    <td><%= link_to 'Show', muddle_moment_path(moment) %></td>
    <td><%= link_to 'Edit', edit_moment_path(moment) %></td>
    <td><%= link_to 'Destroy', moment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Moment', new_moment_path %>