<p id="notice"><%= notice %></p>

<h1>
  <%= @moment.name %>
</h1>

<p>
  <b>Description:</b>
  <%= @moment.description %>
</p>

<p>
  <b>Created by:</b>
  <%= @moment.author.name %>
</p>

<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>