<h1>
  <%= @moment.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= simple_format @moment.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @moment.author.name %>
</p>

<p>
  <strong><i class="icon-share"></i> Share:</strong>
  <%= link_to muddle_moment_url(:muddle => @moment.muddle, :token => @moment.token), muddle_moment_url(:muddle => @moment.muddle, :token => @moment.token) %>
  (You can share moments with anyone, even non-Moments users, by getting using this link)
</p>

<!-- Explain: -->
  <!--  Once you get the link, you can send it by email, Facebook, Twitter, instant message, social networks, wherever you want. These links can be accessed by anyone, even without a Dropbox account. Learn how to get links from this Help Center article. -->

<ul class="nav nav-pills">
  <% if can? :heart, @moment %>
    <li>
      <%= link_to heart_moment_path(@moment), :class => "btn", :method => :post do %>
        <i class="icon-heart"></i> Heart
      <% end %>
    </li>
  <% end %>
  <% if can? :manage, @moment %>
    <li>
      <%= link_to edit_moment_path(@moment) do %>
        <i class="icon-edit"></i> Edit
      <% end %>
    </li>
  <% end %>
</ul>