<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @moment.description %>
</p>

<p>
  <b>Author:</b>
  <%= @moment.author.name %>
</p>

<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>