<%= link_to "Moments", root_path, :class => 'brand' %>
<ul class="nav pull-right">

  <% if can? :create, Moment %>
    <li>
    <%= link_to 'New', new_moment_path %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <li>
    <%= link_to 'Log out', signout_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Log in', signin_path %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>

</ul>